In [14]:

import pandas as pd

In [15]:
url = "http://pfref.com/pi/share/IDiIy"

In [16]:
df = pd.read_html(url, header = 0)
df = df[0]

In [17]:
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Scor,Scor.1,Offe,Offe.1,...,Offe.3,Offe.4,Defe,Defe.1,Defe.2,Defe.3,Defe.4,Expe,Expe.1,Expe.2
0,Week,Date,NaN,Rec,NaN,Opp,Tm,Opp,1stD,TotYd,...,RushY,TO,1stD,TotYd,PassY,RushY,TO,Offense,Defense,Sp. Tms
1,1,September 12,W,1-0,@,Atlanta Falcons,32,6,24,434,...,173,NaN,19,260,136,124,NaN,13.14,12.48,-2.36
2,2,September 19,L,1-1,NaN,San Francisco 49ers,11,17,18,328,...,151,NaN,23,306,189,117,NaN,5.30,-7.86,-2.68
3,3,September 27,L,1-2,@,Dallas Cowboys,21,41,12,367,...,64,2,27,380,220,160,1,-11.19,-9.13,0.01
4,4,October 3,L,1-3,NaN,Kansas City Chiefs,30,42,30,461,...,103,NaN,31,471,271,200,1,21.32,-34.67,0.70

In [13]:
df.to_csv('./resources/Philadelphia_Eagles.csv', index=False)