In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = ("./resources/Team_df.csv")
com_data = pd.read_csv(path)
print(com_data.shape)
com_data.head()

(176, 21)

,Team,Week,Result,Rec,Home,Opp,TmScore,OppScore,O_1stD,O_Tot_yd,...,O_R_Yd,O_TO,D_1stD,D_Tot_Yd,D_P_Yd,D_R_Yd,D_TO,Offence,Defense,Sp.Tms
0,Bills,1,1,1-0,1,Chicago Bears,34.0,14.0,18.0,386.0,...,74.0,1.0,24.0,322.0,188.0,134.0,2.0,21.58,0.85,-0.52
1,Bills,2,1,2-0,0,Indianapolis Colts,27.0,24.0,21.0,371.0,...,101.0,2.0,22.0,354.0,245.0,109.0,2.0,7.11,-1.29,-3.09
2,Bills,3,1,3-0,1,Tampa Bay Buccaneers,34.0,24.0,22.0,407.0,...,76.0,1.0,27.0,446.0,411.0,35.0,1.0,20.56,-15.15,3.43
3,Bills,4,0,3-1,1,Arizona Cardinals,20.0,37.0,24.0,401.0,...,121.0,2.0,27.0,465.0,249.0,216.0,1.0,8.94,-21.72,-2.64
4,Bills,5,1,4-1,0,Seattle Seahawks,26.0,17.0,24.0,476.0,...,118.0,1.0,22.0,354.0,262.0,92.0,2.0,13.76,-6.71,-0.05